<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListService</servlet-name>
        <servlet-class>controller.ListService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>controller.DeleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateService</servlet-name>
        <servlet-class>controller.UpdateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>controller.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceMechanic</servlet-name>
        <servlet-class>controller.ListServiceMechanic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListService</servlet-name>
        <url-pattern>/ListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/DeleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateService</servlet-name>
        <url-pattern>/UpdateService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceMechanic</servlet-name>
        <url-pattern>/ListServiceMechanic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ListService</welcome-file>
    </welcome-file-list>
</web-app>
